.span3.well{id: dom_id(theme)}
  .id
    %span> Template #
    = theme.template_monster_id

  - if user_signed_in?
    .active
      - if theme.active?
        = link_to "Disable", toggle_active_theme_path(theme), method: :put, remote: true
      - else
        = link_to "Enable", toggle_active_theme_path(theme), method: :put, remote: true


  -#.price
  -#  Price
  -#  = theme.price
  .keywords
    Keywords
    = theme.keywords_list
  .categories
    Categories
    = theme.categories_list

  -#= if user_signed_in?
  -#  = form_for theme, method: :put, remote: true do |f|
  -#    = f.hidden_field :active, value: false
  -#    = f.submit "Disable"
  -#    = link_to_submit "Disable link"

    -#= link_to "Disable", theme_path(theme, active: false), method: :put

  -#= link_to "Order", themes_path(theme: theme.attributes), method: :post, remote: true
  = link_to image_tag(theme.screenshot_list[1], width: 215, height: 166), new_theme_order_path(theme)
  -#.images
  -#  %img{src: theme.screenshot_list[1], width: 215, height: 166 }
