.span3.well{id: dom_id(theme), class:  theme.active? ? "active" : "inactive" }
  .id
    %span> Template #
    = theme.template_monster_id

  - if user_signed_in?
    .active
      - if theme.active?
        = link_to "Disable", toggle_active_theme_path(theme), method: :put, remote: true
      - else
        = link_to "Enable", toggle_active_theme_path(theme), method: :put, remote: true

  - if user_signed_in?
    .categories
      Categories
      = theme.categories_list
    .tags
      Tags:
      = theme_tags_links(theme)

  -#.keywords
  -#  Keywords
  -#  = theme.keywords_list

  = link_to image_tag(theme.screenshot_list[1], width: 215, height: 166), new_theme_order_path(theme)
