.span3.well{id: dom_id(theme), class:  theme.active? ? "active" : "inactive" }
  .id
    %span> Template #
    = theme.id

  - if user_signed_in?
    .active
      - if theme.active?
        = link_to "Disable", toggle_active_theme_path(theme), method: :put, remote: true
      - else
        = link_to "Enable", toggle_active_theme_path(theme), method: :put, remote: true

  -if theme.bootstrap == true
    .h3
      Bootstrap

  - if theme.foundation == true
    .h3
      Foundation

  .thumb
    = link_to image_tag(theme.thumbnail_url, class: "img-polaroid"), theme_path(theme)
  %p
  .tags
    %strong
      Tags:
    = theme_tags_links(theme)