%h1 Browse themes

-#.row
-#  #tags
-#    = @tags.map{ |t| t.name }

.row
  #search
    = form_tag themes_path, method: :get do
      = text_field_tag :search, params[:search]
      = submit_tag "Search", name: nil

.row
  #themes
    = render @themes


.row
  = will_paginate @themes
