%h1 Listing orders

%table.table
  %tr
    %th Order id
    %th Theme id
    %th Homepage_url
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.id
      %td= link_to "#{order.theme_id}", theme_path(order.theme_id)
      %td= order.homepage_url
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
