%p#notice= notice

#order_summary
  .row-fluid
    .span4.offset2
      .theme_summary
        %h3
          Order summary
        %p
          %strong
            Order id:
          = @order.id
        %p
          %strong
            Comment:
          = @order.comment


    .span4
      .pricing_summary
        %h3
          Theme

        %p
          %strong
            Theme
          = link_to "#{@theme.id}", theme_path(@theme)
        %p
          %strong
            Template_monster id
          = @theme.template_monster_id

        %img{src: @theme.thumbnail_url}


= link_to 'Edit', edit_order_path(@order, theme_id: @theme.id)
\|
= link_to 'Back', orders_path
